.git
.build
.dart_tool
.gradle
.idea
.swiftpm
.vscode
.yarn/cache
DerivedData
build
build-*
**/build
**/build-*
**/.build
**/node_modules
**/.yarn/cache
**/.dart_tool
**/.gradle
**/Pods
**/DerivedData
**/*.xcarchive
**/*.xcresult
**/*.dSYM
**/*.xcframework
**/Binaries
sdk/runanywhere-commons/dist
sdk/runanywhere-commons/third_party/*/lib
sdk/runanywhere-commons/third_party/*/bin
sdk/runanywhere-commons/tests/build
sdk/runanywhere-commons/build
sdk/runanywhere-commons/build-*
examples/**/build
examples/**/.gradle
examples/**/node_modules
Playground/**/build
Playground/**/.build
